*{margin:0;padding:0;box-sizing:border-box;font-family:Arial;}

body{
  background:#f3f3f3;
  padding-top:70px;
  padding-bottom:60px;
}

/* NAVBAR FIX */
.navbar{
  background:#0f1111;
  color:white;
  display:flex;
  align-items:center;
  gap:50px;
  padding:14px;
  position:fixed;
  top:0;left:0;
  width:100%;
  z-index:1000;
}

.logo{
  font-size:26px;
  font-weight:bold;
  text-transform:uppercase;
  margin-left:50px;
}

.nav-links{
  display:flex;
  gap:35px;
  list-style:none;
}
.nav-links li{
  cursor:pointer;
  padding:5px 8px;
  border-radius:4px;
}
.nav-links li.active{
  background:orange;
  color:black;
}

/* SEARCH */
.searchBox{
  display:flex;
  border-radius:4px;
  overflow:hidden;
}
.searchBox input{
  padding:7px;
  border:none;
  width:500px;
}
.searchBox button{
  padding:7px;
  border:none;
  background:orange;
  font-weight:bold;
  cursor:pointer;
}

.signinBtn{
  background:orange;
  padding:7px 10px;
  border:none;
  font-weight:bold;
  cursor:pointer;
  border-radius:4px;
}

.cart{
  cursor:pointer;
  font-size:18px;
  font-weight:bold;
}

/* PAGE COLORS */
.page-men{ background:#e8f0ff; }
.page-women{ background:#ffeef4; }
.page-kids{ background:#f7ffda; }
.page-electronics{ background:#e6fff8; }
.page-all-product{ background:#fff7e6; }

/* PRODUCT GRID */
.products{
  padding:20px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:15px;
}

/* CARD */
.card{
  background:white;
  border-radius:6px;
  padding:10px;
  box-shadow:0 1px 4px rgba(0,0,0,0.2);
  cursor:pointer;
  transition:.2s;
}
.card:hover{
  transform:scale(1.03);
  box-shadow:0 3px 10px rgba(0,0,0,0.3);
}
.card img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:6px;
}
.card p{margin-top:7px;font-weight:bold;}

/* POPUPS */
.productPopup,
.loginPopup,
.cartModal{
  display:none;position:fixed;
  top:0;left:0;width:100%;height:100%;
  background:rgba(0,0,0,0.5);
  justify-content:center;align-items:center;
}

.popupContent,
.loginBox,
.cartContent{
  background:white;
  padding:20px;
  width:300px;
  border-radius:6px;
}

.popupContent img{
  width:100%;
  border-radius:6px;
  margin-bottom:10px;
}

.closePopup,.closeLogin{
  float:right;cursor:pointer;font-weight:bold;
}

/* FOOTER FIX */
footer{
  background:#232f3e;
  color:white;
  padding:20px;
  position:fixed;
  bottom:0;left:0;
  width:100%;
}

.row{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
.copy{text-align:center;margin-top:5px;}




.loadBtn{
  grid-column:1/-1;
  padding:10px;
  font-size:18px;
  background:orange;
  border:none;
  border-radius:5px;
  cursor:pointer;
  margin:10px auto;
}
